/* Sidebar.css */

.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #1a2a3a; /* Deep Space Blue */
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  gap: 40px; /* Increased space between profile and nav links */
}

.profile {
  text-align: center;
}

.profile-pic-label {
  cursor: pointer;
}

.profile-pic, .default-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-bottom: 20px; /* Increased space between profile pic and name */
}

.default-avatar {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
}

.profile-name h1 {
  font-size: 1.5em; /* Size between h1 and h2 */
  text-transform: uppercase; /* Ensure text is uppercase */
  margin: 0; /* Remove default margin */
  color: white; /* Adjust color if needed */
  font-weight: bold; /* Optional: make text bold */
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between each navigation link */
  width: 100%;
}

.nav-link, .logout-btn {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #34495e;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor for buttons */
}

.nav-link:hover, .logout-btn:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.logout-btn {
  color: #e74c3c; /* Red color for logout */
  background-color: #34495e; /* Match background with other buttons */
}

.logout-btn:hover {
  color: #c0392b; /* Darker red on hover */
}